# 本地彩球查询路径
FISH_URL="http://172.18.16.1:1752/query"


# 刷脸ID排重库
ID_DB_NUMBER=0
ID_DB_DESC=""

# 是否需要两个刷脸排重库
IS_DUBLE_FACE_DB=false

#################################

# 导用户的专页库
PAGE_DB_NUMBER=1
PAGE_DB_DESC="专页库"

# 导用户的小组库
USER_GROUP_DB_NUMBER=2
USER_GROUP_DB_DESC="用户加入的小组"

# 查考的小组库
SEARCH_GROUP_DB_NUMBER=3
SEARCH_GROUP_DB_DESC="查考组小组库"

# 是否需要两个刷脸排重库
IS_DUBLE_FACE_DB=false

# 第二个刷脸排重库的命令 php artisan id type=mz
SECOND_FACE_DB_CODE="mz"

#################################

# redis 监听的端口
REDIS_PORT=6379
REDIS_DESC="安桑"

# 头像库的端口号
REDIS_AVATER_PORT=6380
AVATER_DB_NUMBER=0
AVATER_DB_DESC="刷脸库"

