# 本地彩球查询路径
FISH_URL="http://172.18.16.1:1752/query"


# 刷脸ID排重库
ID_DB_NUMBER=0
ID_DB_DESC="刷脸库"

# 导专页排重库
PAGE_DB_NUMBER=1
PAGE_DB_DESC="专页库"

# 导小组排重库
USER_GROUP_DB_NUMBER=2
USER_GROUP_DB_DESC="小组库"

# 是否需要两个刷脸排重库
IS_DUBLE_FACE_DB=false

# 第二个刷脸排重库的命令 php artisan id type=mz
SECOND_FACE_DB_CODE="mz"